html {
  font-family: sans-serif;
}

body {
  margin: 0;
  text-align: center;
  background-color: rgb(126, 56, 38);
  color: rgb(125, 92, 81);
}

#logo {
  width: 7rem;
  height: 7rem;
  object-fit: contain;
  margin-top: 2rem;
}

h1 {
  color: #e8d4b2;
}

a {
  color: rgb(49, 40, 9);
}
